# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
pip-wheel-metadata/

# FastAPI + Uvicorn logs
*.log

# IDEs and editors
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy, Pylint, etc.
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Docker
*.pid
*.db
*.sqlite3
docker-compose.override.yml

# Environment variables
.env

# Poetry
poetry.lock
# If you use poetry and want to keep lock file, remove the above line

# PyInstaller
*.spec

# Jupyter
.ipynb_checkpoints

# VS Code settings
.vscode/

# Local dev artifacts
instance/

#folders
*media
